<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliana RAMIREZ</title>
    <link rel="stylesheet" href="../CSS/autobigrafia.css">
</head>
<body>
       <div id="wrapper">
        <article class="instructions">
            <h1>Eliana Ramírez </h1>
            <section class="columns">
                <p>Yo <code>Eliana Ramirez</code> quise estudiar Software porque es una oportunidd para el futuro, me ha encantado esta nueva experiencia</p>
                 <p>Quiero aprender mucho y avanzar hasta donde mas pueda, la experiencia con el cesde ha sido muy enrequecidora</p>
            </section>
            <section>
                <div class="tex">
                    <a href="TextoResponsive.html">Texto</a>
                    <a href="Fotos.html">Fotos</a>
                </div>
            </section>
        </article>
        <img src="../Img/yo.jpg" srcset="../Img/yo.jpg">
    </div>
  </body>
</html>